<div class="row">
  <div class="container d-flex">
    <div class="col-md-4">
      <h5 class="add-inventory">Add Items</h5>
    </div>
  </div>
</div>

<div class="row items-row">
  <div class="col-md-6">
    <h6>Category</h6>

    <p-dropdown [options]="itemsCategory" placeholder="Select a Category" optionLabel="name" name="prodCategoryId"
                [(ngModel)]="selectedCategory"
                (onChange)="onChangeCategory()"
                autoWidth="false"></p-dropdown>
  </div>
  <div class="col-md-6">
    <h6>Item Name</h6>
    <p-dropdown [options]="itemNames" placeholder="Select a Item" optionLabel="productname" autoWidth="false"
                name="productname"
                [(ngModel)]="selectedProductname"
                (onChange)="onChangeProductname()"
                [style]="{'width':'100%'}"></p-dropdown>
  </div>
</div>
<div class="row items-row">
  <div class="col-md-6">
    <h6>Part Number</h6>
    <p-dropdown [options]="partNumbers" placeholder="Select a Number" optionLabel="partnumber"
                [(ngModel)]="selectedPartnumber" name="partnumber"
                (onChange)="onChangePartnumber()" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>

  </div>
  <div class="col-md-6">
    <h6>Received Date</h6>
    <p-calendar [showIcon]="true" autoWidth="false" [style]="{'width':'100%'}" name="reciveddate"
                [(ngModel)]="model.prodReceivedDate"
                [panelStyle]="{'top':'280px'}"></p-calendar>
  </div>
</div>
<div class="row items-row">
  <div class="col-md-6">
    <h6>Purchase Order Number/DC</h6>
    <input type="text" pInputText style="width: 100%;" name="purchaseorderno" [(ngModel)]="model.poNbr">
  </div>
  <div class="col-md-6">
    <h6>Purchase Order Quantity</h6>
    <input type="text" pInputText style="width: 100%;" name="purchaseorderqty" [(ngModel)]="model.poOrderQty">
  </div>
</div>
<div class="row items-row">
  <div class="col-md-6">
    <h6>Invoice Number</h6>
    <input type="text" pInputText style="width: 100%;" name="invoiceno" [(ngModel)]="model.invoiceNbr">


  </div>
  <div class="col-md-6">
    <h6>Invoice Quantity</h6>
    <input type="text" pInputText style="width: 100%;" name="invoiceQuantity" [(ngModel)]="model.invoiceQty">
  </div>
</div>

<div class="col-md-12 items-button">
  <button class="close-button">Cancle</button>
  <button class="Send-button" (click)="addStock()">Send for Approval</button>
</div>

